* {
  box-sizing: border-box;
}
#howdytile {
 display: none;
}
.introtile {
  background-image: url(../img/Josh.gif);
  background-blend-mode: screen;
  background-repeat: no-repeat;
  /*background-size: 100%;*/
  background-size: cover;
  background-position: center;
  background-position: top;
  height: 800px;
}
.secondtype {
  font-size: 1.65em;
  font-weight: 300;
}
#howdy {
    opacity: .8;
    position: relative;
    margin-top: 10%;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    display: none;
}
#thisisjoshtile {
  padding-top:12%;
  height: 900px;
}
#joshcanhelptext {
  line-height: 99px;
  color: white;
}
#letschat {
  font-size:20px;
}
#contact {
  background-color: #FAD500;
}
#resumebtn {
  font-size: 16px;
  line-height: 30px;
  padding-top: 20px;
}
#whoisjosh p{
  color: white;
  text-align: center;
  position: normal;
  font-size: 3em;
  font-weight: 300;
  line-height: 50px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: -100px;
  font-size: 1.65em;
}
#whoisjosh a {
  color: white;
  font-style: italic;
  text-decoration: underline;
  transition: all .3s ease-in-out;
}
#whoisjosh a:hover {
  color: #FAD500;
  background-image:
  text-decoration: none;
}
#about {
  background-color: #00CDC1;
  padding-bottom: 100px;
  background-image: url(/img/prof2.JPG);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  /*background-size: 100%;*/
  background-size: cover;
  background-position: center;
  background-position: top;
  /*height: 700px;*/
}
#makesthings {
  display: block;
  /*text-transform: uppercase;*/
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  color: black;
  text-align:center;
  font-weight: 700;
  /*padding-left: -50%;*/
  line-height: 83px;
}
#seejoshmaketype {
  display: block;
  /*text-transform: uppercase;*/
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  color: black;
  text-align:center;
  font-weight: 700;
  /*padding-left: -50%;*/
  line-height: 83px;
}
#talktojosh {
  text-align:center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  font-weight: 700;
  color: black;
  line-height: 83px;
}
#seejoshplaytype {
  color: white;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 83px;
  position: relative;
  width: 100%;
}
#whojoshtype {
  color: white;
  text-align:center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  line-height: 83px;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}
#thisisjoshtype {
  color: black;
  text-align:center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  line-height: 83px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
#nav {
  background-color: transparent;
  text-align: center;
  width: 100%;
  /*display: none;*/
}
@media (max-width: 300px) {
  .introtile {
    height: 300px;
  }
}
@media (min-width: 300px) {
  .introtile {
    height: 320px;
  }
}
@media (min-width: 500px) {
  .introtile {
    height: 390px
  }
}
@media (min-width: 650px) {
  .introtile {
    height: 590px;
  }
}
@media (min-width: 768px) {
  #makesthings {
    line-height: 125px;
    font-size: 8em;
  }
  #talktojosh {
    font-size: 8em;
    line-height: 125px;
  }
  #seejoshmaketype {
    font-size: 8em;
    line-height: 125px;
  }
  #seejoshplaytype {
    font-size: 8em;
    line-height: 125px;
  }
  #whojoshtype {
    font-size: 8em;
    line-height: 125px;
  }
  #thisisjoshtype {
    font-size: 8em;
    line-height: 125px;
  }
  #nav {
    background-color:#ff4400;
  }
  .secondtype {
    font-size: 2.6em;
  }
  #whoisjosh p {
    font-size: 2.6em;
  }
}
@media (min-width: 992px) {
  .introtile {
    height: 900px;
  }
}
@media (min-width: 1200px) {
  .introtile {
    height: 1100px;
  }
}
#chevronadjust {
  padding-left: -20px;
}
#bracket {
  width: 100%;
}
#jaggy {
  width: 100%;
  padding-bottom: 80px;
}
#thisisjosh {
  font-size: 3em;
  position: absolute;
  margin-top: 50%;
  display:none;
}
.introtile{
  background-color: #ff4400;
  /*background-image: url(../img/Josh.gif);*/
}
#uncollnav {
}
.portfolio-scaled {
  max-height: 600px;
}
