* {
  box-sizing: border-box;
}
#howdytile {
 display: none;
}
.allmodals {
  top: 10000px;
}
.emailonform {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  color:#191919;
  font-size: 36px;
  padding-top: 35px;
}
@media (max-width: 500px) {
  .emailonform {
    font-size: 18px;
  }
}
#footeremail {
  background-color:#ffd92b;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  padding:10px;
  font-size:28px;
  height:60px;
  color: white;
}
.okay {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #FF4400;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #191919;
}

::selection {
    color: white;
    background: #191919;
    margin-top:200px;
}
.portheader {
  width:100vw;
  height:100vh;
  min-height: 50vw;
  max-height:80vw;
  padding-top: 1%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  color: #262626;
}
#portfolioModal15 a {
  color: #262626;
  text-decoration:underline;
}
#portfolioModal15 a:hover {
  color: white;
}
.theoretical {
  text-align: center;
  color: white;
  margin: 0 auto;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 10vw;
}
.theobg {
  background-color: #262626;
  width: 19vw;
  height: 3vw;
  border-radius: 80vw;
  margin: 0 auto;
  margin-top: -2.6vw;
}
.footer-above a {
  text-decoration: underline;
  color: white;
}
.footer-above a:hover {
  color: #262626;
}
.intrograd {
  background-size: cover;
  background-repeat:no-repeat;
  width: 100vw;
  height: 70vw;
  position: absolute;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+12,0.5+25,0+50,0.5+78,1+89 */
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,0.5) 25%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 78%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.5) 78%,rgba(255,255,255,1) 89%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.5) 78%,rgba(255,255,255,1) 89%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.introtile {
  background-image: url("../img/bwjosh.gif");
  background-size: cover;
  width: 80vw;
  margin:0 auto;
}
.secondtype {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:white;
  font-size: 1.65em;
  font-weight: 300;
}
.who1 {
  width: 40%;
}
.who2 {
  width: 40%;
}
#carousel-example-generic {
  height: 200px;
  padding-bottom: 50%;
}
#howdy {
    opacity: .8;
    position: relative;
    margin-top: 10%;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    display: none;
}
#thisisjoshtile {
  padding-top:12%;

}
#contact {
  background-color: #ffd92b;
  border: 0px;
}
#resumebtn {
  text-align: center;
  font-size: 35px;
  line-height: 30px;
  padding-top: 30px;
  border-width: 1px;
}
#whoisjosh {
  display: flex;
  width: 100%;
}
#child1 {
  width: 49%;
  min-height: 500px;
  padding-left: 10%;
  text-align: right;
  padding-right: 5%;
  font-weight: 300;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#child2 {
  color: #191919;
  width: 49%;
  max-width: 840px;
  padding-right: 10%;
  font-size: 30px;
  font-weight: 300;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media (max-width: 800px) {
  #whoisjosh {
    flex-direction:column-reverse;
    text-align:center;
  }
  #child1 {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
    text-align: center;
  }
  #child2 {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
  }
}
#whoisjosh p{
  color: white;
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  line-height: 30px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: -100px;
  font-size: 1.65em;
}
#whoisjosh a {
  color: white;
}
#whoisjosh a:hover {
  color: #0dd4e2;
  text-decoration: none;
}
#whoisjosh a:focus {
  color: white;
  background-color: #0dd4e2;
  text-decoration: none;
}
#about {
  background-color: #0dd4e2;
  background-repeat: no-repeat;
  background-size: cover;
}
#footername {
  font-weight: 300;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#makesthings {
  display: block;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  color: #191919;
  text-align:center;
  font-weight: 700;
  line-height: 83px;
  padding-bottom:180px;
}
#seejoshmaketype {
  display: block;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  color: #191919;
  text-align:center;
  font-weight: 700;
  line-height: 83px;
}
#talktojosh {
  text-align:center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  font-weight: 700;
  color: #191919;
  line-height: 83px;
  letter-spacing: -4px;
}
#seejoshplaytype {
  color: white;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 83px;
}
#whojoshtype {
  color: #191919;
  text-align:center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5em;
  line-height: 83px;
  font-weight: 700;
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  letter-spacing: -4px;
}
#thisisjoshtype {
  color: #191919;
  text-align:center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 3em;
  line-height: 83px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  letter-spacing: -1px;
}
#portheadline {
  text-align:center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10vw;
  line-height: 9vw;
  letter-spacing: -.3vw;
  font-weight: 700;
  margin: 0 auto;
  width: 100vw;
  padding-bottom: 100px;
  color: #262626;
}
.portfolio-modal p {
  text-align:center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2vw;
  line-height: 3vw;
  font-weight: 300;
  margin: 0 auto;
  width: 100vw;
  padding: 5vw;
}
#portfolio {
  outline: none;
}
#footbadge {
  background-image: url("../img/footbadgelarge.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 24vw;
  margin: 0 auto;
}
#foot0 {
  background-image: url("../img/footlg0.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 5vw;
  margin: 0 auto;
  margin-top:-68px;
}
@media (max-width: 1400px) {
  #foot0 {
    margin-top: -50px;
  }
}
@media (max-width: 993px) {
  #foot0 {
    margin-top: -30px;
  }
}
#foot1 {
  background-image: url("../img/footlg1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 4vw;
  margin: 0 auto;
  margin-bottom: 70px;
}
#foot2 {
  background-image: url("../img/footlg2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 4vw;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #footbadge {
    background-image: url("../img/footerbadgesmall.gif");
    height: 60vw;
  }
  #foot0 {
    background-image: url("../img/footsm0.gif");
      height: 10vw;
  }
  #foot1 {
    background-image: url("../img/footsm1.gif");
      height: 10vw;
  }
  #foot2 {
    background-image: url("../img/footsm2.gif");
      height: 10vw;
  }
}
@media (max-width: 768px) {
  .portfolio-modal p {
    font-size: 3.5vw;
    line-height: 4.5vw;
  }
}
#sendbtn {
  margin-left: 44%;
  padding: none;
  right: auto 0;
  border-width: 1px;
}
#nav {
  background-color: transparent;
}
@media (max-width: 300px) {
  .introtile {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .secondtype {
    display: none;
  }
  #seejoshplaytile {
    margin-bottom: -50px;
    margin-top: -140px;
  }
  #sendbtn {
    margin-left: 34%;
    padding: none;
    right: auto 0;
  }
}
@media (min-width: 300px) {
  .introtile {
    height: 300px;
  }
}
@media (min-width: 500px) {
  .introtile {
    height: 390px;
  }
  #seejoshplaytile {
    margin-bottom: 90px;
  }
  #thisisjoshtype {
    font-size: 5em;
    letter-spacing: -2px;
  }
  #whojoshtype {
    font-size: 5em;
    margin-bottom: 50px;
    line-height: 83px;
  }
}
@media (min-width: 650px) {
  .introtile {
    height: 550px;
  }
}
@media (min-width: 768px) {
  .introtile {
    height: 660px;
  }
  #makesthings {
    line-height: 125px;
    font-size: 8em;
  }
  #talktojosh {
    font-size: 8em;
    line-height: 125px;
  }
  #seejoshmaketype {
    font-size: 8em;
    line-height: 125px;
  }
  #seejoshplaytype {
    font-size: 8em;
    line-height: 125px;
  }
  #whojoshtype {
    font-size: 8em;
    line-height: 125px;
  }
  #thisisjoshtype {
    font-size: 7em;
    line-height: 125px;
    letter-spacing: -3px;
  }
  #nav {
    background-color:#191919;
  }
  .secondtype {
    font-size: 2.6em;
  }
  #whoisjosh p {
    font-size: 2.6em;
    line-height: 50px;
    padding-left: 120px;
    padding-right: 120px
  }
}
@media (max-width: 992px) {
  #portfolio .caption-content p {
    display: none;
  }
}
@media (min-width: 992px) {
  .introtile {
    height: 800px;
  }
  #thisisjoshtype {
    font-size: 8em;
    line-height: 150px;
    letter-spacing: -4px;
  }
}
@media (min-width: 1200px) {
  .introtile {
    height: 1000px;
  }
  #thisisjoshtype {
    font-size: 10em;
  }
  .secondtype {
    line-height: 2.8em;
    font-size: 3.3em;
  }
}
@media (min-width: 1600px) {
  .introtile {
    height:1400px;
  }
  #thisisjoshtype {
    font-size: 13em;
  }
}
@media (min-width: 2000px) {
  .introtile {
    height:1600px;
  }
}
@media (min-width: 2350px) {
  .introtile {
    height:1800px;
  }
}
#chevronadjust {
  padding-left: -20px;
  display:none;
}
#bracket {
  width: 100%;
}
#jaggy {
  width: 100%;
  padding-bottom: 80px;
}
#thisisjosh {
  font-size: 3em;
  position: absolute;
  margin-top: 50%;
  display:none;
}
.introtile {

  /*background-image: url(../img/Josh.gif);*/
}
#uncollnav {
  width: 100%;
  background-color: #191919;
  text-align: center;
  padding-right: 37px;
}
@media (max-width: 767px) {
  #uncollnav {
    width: 105vw;
    padding: 50px;
    margin-left: -15px;
    padding-top: -50px;
  }
}
.portfolio-scaled {
  max-height: 600px;
}
.subhead {
  width: 100vw;
  background-color: white;
  height: 15vw;
  color: #191919;
  text-align: center;
  margin: 0 auto;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 3vw;
  padding-top: 5vw;
}
#closebtn{
  height: 100vh;
  width: 100vw;
  font-size: 10vw;
  margin-bottom: 0px;
  border-radius: 0px;
  border-top: 0.8vw solid white;
  padding: 0px;
  margin-left: -50vw;
  margin-right: 0px;
  position: absolute;
  /*background-color: rgba(255,68,0,.8);*/
  background-color: rgba(25,25,25, .8);
  background: -moz-linear-gradient(top, rgba(25,25,25,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(25,25,25,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(25,25,25,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6191919', endColorstr='#00000000',GradientType=0 );
  color: white;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}
#closebtnold{
  height: 150px;
  width: 150px;
  font-size: 30px;
  border-radius: 50%;
  margin-bottom: 300px;
}
#introtile {
  width: 80vw;
  height: 65vw;
}
