.pimg {
  padding:0;
  margin:0;
  position:relative;
  width: 100vw;
  height: 80vw;
  display:block;
  font-size: 80px;
  color: blue;
  background-position:center;
  background-size: 100vw;
  background-repeat: no-repeat;
  border: 1vw solid white;
}
@media (min-width:769px) {
  .pimg1 {
    background-image: url("../img/portfolio/cp9.gif");
  }
}


@media (max-width:768px) {
  .pimg1 {
    background-image: url("../img/portfolio/cp9s.gif")
  }
}
