<IfModule mod_expires.c>
  ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault                          "access plus 1 months"

# Data
  ExpiresByType text/xml                  "access plus 0 seconds"
  ExpiresByType application/xml           "access plus 0 seconds"
  ExpiresByType application/json          "access plus 0 seconds"

# Favicon (cannot be renamed)
  ExpiresByType image/x-icon              "access plus 1 week"

# Media: images, video, audio
  ExpiresByType image/gif                 "access plus 365 days"
  ExpiresByType image/png                 "access plus 1 months"
  ExpiresByType image/jpeg                "access plus 1 months"
  ExpiresByType video/ogg                 "access plus 1 months"
  ExpiresByType audio/ogg                 "access plus 1 months"
  ExpiresByType video/mp4                 "access plus 1 months"
  ExpiresByType video/webm                "access plus 1 months"

# Webfonts
  ExpiresByType application/x-font-ttf    "access plus 1 months"
  ExpiresByType font/opentype             "access plus 1 months"
  ExpiresByType application/x-font-woff   "access plus 1 months"
  ExpiresByType image/svg+xml             "access plus 1 months"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 months"

# CSS and JavaScript
  ExpiresByType text/css                  "access plus 1 years"
  ExpiresByType application/javascript    "access plus 1 years"

</IfModule>
