* {
  background-color: #f8f8f8;
}
.cropit-preview {
  background-color: #FFFFFF;
  background-size: cover;
  border: 15px solid white;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}

.cropit-preview-image-container {
  cursor: move;
}

.image-size-label {
  margin-top: 10px;
}

input, .export {
  display: block;
}

button {
  margin-top: 10px;
}
